<section class="section section--about">
  <div class="section__inner">
    <p class="lead">
      A frontend developer &amp; UI/UX designer living in Berlin.<br />
      Currently working at <a href="https://wunderflats.com" target="_blank">Wunderflats</a>.<br />
      Previously at <a href="https://simpleweb.co.uk" target="_blank">Simpleweb</a> in Bristol, England.<br />
    </p>
  </div>
</section>
