<div class="terminal">
    <ul class="terminal__output"></ul>
    <div class="terminal__input-wrapper">
        <pre class="terminal__pre"><div class="terminal__input" contentEditable></div></pre>
    </div>
</div>
