.terminal {
  text-align: left;
  height: $vertical-rhythm-unit * 18;
  overflow: auto;
  padding: $vertical-rhythm-unit * 2;
  border-top: $vertical-rhythm-unit solid #797b86;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  cursor: pointer;
  background: map-get($color-palette-dracula, background);
  margin: 0 auto;

  &__output {
    list-style: none;
    margin: 0;
    padding: 0;
    color: transparent;
    text-shadow: 0 0 0 map-get($color-palette-dracula, foreground);

    li {
      margin-bottom: $vertical-rhythm-unit * 0.5;
    }

    dl {
      margin: 0;
    }

    dt, dd {
      display: inline-block;
      margin: 0;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
    }
  }

  &__pre {
    margin: 0;
    font-family: droid-sans-mono, Menlo, monospace;
    line-height: $vertical-rhythm-unit;
  }

  &__input-wrapper {
    position: relative;
  }

  &__input-pre {
    margin: 0;
    font-family: droid-sans-mono, Menlo, monospace;
    display: inline-block;
    line-height: $vertical-rhythm-unit;
  }

  &__input {
    color: transparent;
    text-shadow: 0 0 0 map-get($color-palette-dracula, foreground);
    white-space: nowrap;

    &:focus {
      outline: none;
    }

    // Prompt
    &-prompt:before,
    &:before {
      content: '❯';
      display: inline-block;
      line-height: $vertical-rhythm-unit;
      margin-right: 8px;
      color: map-get($color-palette-dracula, pink);
    }

    // Caret
    &:after {
      content: '';
      display: inline-block;
      position: relative;
      top: 2px;
      width: 2px;
      height: 16px;
      background: map-get($color-palette-dracula, foreground);
      opacity: .5;
      transition: opacity .1s ease;
      margin-left: 4px;
    }
  }

  &.is-active &__input:after {
    animation: pulse 1s infinite ease;
  }
}
