.header {
  text-align: center;
  padding: ($vertical-rhythm-unit * 6) 0;
  color: map-get($color-palette-dracula, foreground);

  &__title {
    display: inline-block;
    font-size: map-get($font-size, large);
    letter-spacing: 5px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    line-height: $vertical-rhythm-unit;
  }

  &__strapline {
    padding-top: 12px;
    letter-spacing: 2px;
    font-size: map-get($font-size, medium);
    margin: 0;
    text-rendering: optimizeLegibility;
    line-height: $vertical-rhythm-unit;
  }
}
