<section class="section section--intro">
  <div class="section__inner">
    <header class="header">
      <h1 class="header__title">Mike Mitchell</h1>
      <h2 class="header__strapline">Front End Developer</h2>
    </header>
    {{> ../terminal/terminal }}
  </div>
</section>
